<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Contact Us</h2>
              <h3 class="section-subheading text-muted">Shoot us a message and we'll get back to you!</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12" ng-app="contactFormApp" ng-controller="contactFormCtrl as ctrl">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input ng-model="name" type="text" class="form-control" placeholder="Your Name" id="name">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input ng-model="email" type="email" class="form-control" placeholder="Your Email" id="email">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input ng-model="phone" type="tel" class="form-control" placeholder="Your Phone" id="phone">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea ng-model="message" class="form-control" placeholder="Your Message" id="message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <button
                          ng-show="ctrl.status == 'waiting'"
                          ng-click="ctrl.submit(name, email, phone, message)" type="submit" class="btn btn-xl">Send Message</button>
                        <button
                          ng-show="ctrl.status == 'sent'"
                          type="submit" class="btn btn-xl">Sent!</button>
                    </div>
                </div>
          </div>
      </div>
  </div>
</section>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript">
  angular.module('contactFormApp', [])
  .controller('contactFormCtrl', function($http, $timeout) {
    var ctrl = this;

    ctrl.status = 'waiting';

    ctrl.submit = function(name, email, phone, message) {
      ctrl.status = 'sent';

      var result = $http.post('/contact', {
        name: name,
        email: email,
        phone: phone,
        message: message
      });
    };
  })
</script>