<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">FAQ</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>When will my box be delivered?</h5>
            <p>Your box will be delivered on Monday afternoon as long as you order before 5pm on Friday</p>

            <h5>What if I'm not home when my box is delivered?</h5>
            <p>If you aren't home, we will leave your box by your door. Our food is packed with insulated liners and gel packs to keep ingredients cold and fresh for several hours. However, we suggest you unpack your order and refridgerate perishable items as soon as you are able to.</p>

            <h5>Where do you deliver?</h5>
            <p>The Kansas City metropolitan area.</p>

            <h5>Do I need to be an experienced cook?</h5>
            <p><strong>Nope.</strong> In fact, part of our goal is to help introduce you to new cooking methods, techniques, and ingredients.</p>

            <h5>Do you have gluten-free or vegan options?</h5>
            <p>Yes! Next to the recipe title, there will be a (V) if it is vegan or (GF) if it is gluten free.</p>
        </div>
        <div class="col-md-6">
            <h5>Where do you source your ingredients?</h5>
            <p>WHenever possible, we buy our ingredients from local businesses and farms.</p>

            <h5>What cooking equipment and ingredients do I need?</h5>
            <p>THe only ingredients you will need at home are salt, pepper and olive oil. We provide everything else! As far as cooking equipment, just the basics: pots and pans, a knife, cooking spoons, and ladel.</p>

            <h5>How long will it take to make the recipes?</h5>
            <p>It depends on the recipe, but they should take just 30-45 minutes.</p>

            <h5>What forms of payment do you accept?</h5>
            <p>You can pay online with Visa, Mastercard, or Paypal.</p>

            <h5>Are the packaging materials eco-friendly?</h5>
            <p>Yes, all of our packing materials and containers are made from renewable resources, and are 100% compostable.</p>
        </div>
    </div>
</div>