<div class="container">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <span class="fa-stack fa-4x">
                <i class="icon-menu"></i>
            </span>
            <h4 class="service-heading">Pick your meals</h4>
            <p class="text-muted">Choose meals from our menu of healthy, delicious, and nutritious recipes.</p>
        </div>
        <div class="col-md-1 arrow">
            <img src="img/arrow.png" />
        </div>
        <div class="col-md-2">
            <span class="fa-stack fa-4x">
                <i class="icon-box"></i>
            </span>
            <h4 class="service-heading">We deliver</h4>
            <p class="text-muted">Forget the grocery store.<br />Fresh, pre-portioned ingredients are delivered to your door.</p>
        </div>
        <div class="col-md-1 arrow">
            <img src="img/arrow.png" />
        </div>
        <div class="col-md-2 pan">
            <span class="fa-stack fa-4x">
                <img src="img/pan.png" />
            </span>
            <h4 class="service-heading">Cook and enjoy</h4>
            <p class="text-muted">Learn to cook delicious, easy, healthy recipes all week long!</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>