<div class="container" id="orderApp" ng-controller="orderCtrl as ctrl">
    <div class="col-lg-12 text-center" ng-show="ctrl.order_step == 'checking_out'">
        <div style="left: 0; position: absolute;">
          <button
            ng-click="ctrl.order_step = 'shopping'"
            class="btn btn-warning"><span class=""></span>&lt; Continue Shopping</button>
        </div>
        <h2 class="section-heading">Order</h2>
    </div>
    <div class="row" ng-show="ctrl.order_step == 'checking_out'">
      <div>
        <table class="table">
          <thead>
            <th><strong>Description</strong></th>
            <th><strong>Cost</strong></th>
          </thead>
          <tbody>
            <tr ng-repeat="item in ctrl.cart">
              <td>{{ item.recipe.name }} ({{ item.serving_option.servings }} servings)</td>
              <td>${{ item.serving_option.dollars }}</td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Total:</strong>
              </td>
              <td>
                <strong>${{ ctrl.total(ctrl.cart) }}</strong>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button
                  ng-click="ctrl.order_step = 'enter_address'"
                  class="btn btn-success pull-right"><span class=""></span>Enter Delivery Address &gt;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-12 text-center" ng-show="ctrl.order_step == 'enter_address'">
        <div style="left: 0; position: absolute;">
          <button
            ng-click="ctrl.order_step = 'shopping'"
            class="btn btn-warning"><span class=""></span>&lt; Continue Shopping</button>
        </div>
        <h2 class="section-heading">Order</h2>
    </div>
    <div class="row" ng-show="ctrl.order_step == 'enter_address'">
      <h4>Enter your shipping address below</h4>

      <form class="form-horizontal" ng-init="ctrl.shipping = {}">
        <div class="form-group">
          <label class="col-sm-2 control-label">Address 1</label>
          <div class="col-sm-10">
            <input ng-model="ctrl.shipping.address_1" class="form-control" placeholder="(e.g., 742 Evergreen Terr #385)" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Address 2 (optional)</label>
          <div class="col-sm-10">
            <input class="form-control" ng-model="ctrl.shipping.address_2" placeholder="" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">City</label>
          <div class="col-sm-10">
            <input class="form-control" ng-model="ctrl.shipping.city" placeholder="Kansas City" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">State</label>
          <div class="col-sm-10">
            <input class="form-control" ng-model="ctrl.shipping.state" placeholder="NY" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">ZIP</label>
          <div class="col-sm-10">
            <input class="form-control" ng-model="ctrl.shipping.zip" placeholder="90210)" />
          </div>
        </div>
      </form>
      <button
            ng-click="ctrl.order_step = 'enter_payment'"
            class="btn btn-success pull-right"><span class=""></span>Enter Payment Information &gt; </button>
    </div>

    <div class="col-lg-12 text-center" ng-show="ctrl.order_step == 'enter_payment'">
        <div style="left: 0; position: absolute;">
          <button
            ng-click="ctrl.order_step = 'shopping'"
            class="btn btn-warning"><span class=""></span>&lt; Continue Shopping</button>
        </div>
        <h2 class="section-heading">Order</h2>
    </div>
    <div class="row" ng-show="ctrl.order_step == 'enter_payment'">
      <h4>Enter your Payment Information below</h4>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Card No</label>
          <div class="col-sm-10">
            <input ng-model="ctrl.payment.number" class="form-control" placeholder="0000 0000 0000 0000" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Expiration</label>
          <div class="col-sm-10">
            <input class="form-control" ng-model="ctrl.payment.expiration" placeholder="MM/YY" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Security Code</label>
          <div class="col-sm-10">
            <input class="form-control" ng-model="ctrl.payment.code" placeholder="123" />
          </div>
        </div>

        <button
            ng-click="ctrl.order_step = 'review_purchase'"
            class="btn btn-success pull-right"><span class=""></span>Review Purchase &gt; </button>
    </div>

    <div class="col-lg-12 text-center" ng-show="ctrl.order_step == 'review_purchase'">
        <div style="left: 0; position: absolute;">
          <button
            ng-click="ctrl.order_step = 'shopping'"
            class="btn btn-warning"><span class=""></span>&lt; Continue Shopping</button>
        </div>
        <h2 class="section-heading">Order</h2>
    </div>
    <div class="row" ng-show="ctrl.order_step == 'review_purchase'">
      <h4>Review your purchase below</h4>

      <table class="table">
        <thead>
          <th><strong>Description</strong></th>
          <th><strong>Cost</strong></th>
        </thead>
        <tbody>
          <tr ng-repeat="item in ctrl.cart">
            <td>{{ item.recipe.name }} ({{ item.serving_option.servings }} servings)</td>
            <td>${{ item.serving_option.dollars }}</td>
          </tr>
          <tr>
            <td class="text-right">
              <strong>Total:</strong>
            </td>
            <td>
              <strong>${{ ctrl.total(ctrl.cart) }}</strong>
            </td>
          </tr>
        </tbody>
      </table>

      <h5>Delivery Address <a class="clickable" ng-click="ctrl.order_step = 'enter_address'">(change)</a></h5>
      <p>{{ ctrl.shipping.address_1 }}</p>
      <p ng-show="ctrl.shipping.address_2">{{ ctrl.shipping.address_2 }}</p>
      <p>{{ ctrl.shipping.city }}, {{ ctrl.shipping.state }} {{ ctrl.shipping.zip }}</p>

      <h5>Payment <a class="clickable" ng-click="ctrl.order_step = 'enter_payment'">(change)</a></h5>
      <p>{{ ctrl.payment.number }} - {{ ctrl.payment.expiration }}</p>


      <button
        ng-click="ctrl.authorizePayment()"
        class="btn btn-success pull-right"><span class=""></span>Submit Transaction for ${{ ctrl.total(ctrl.cart) }}</button>

      <button
        style="margin-right: 1em;"
        ng-click="ctrl.order_step = 'shopping'"
        class="btn btn-warning pull-right"><span class=""></span>Continue Browsing</button>
    </div>


    <div class="row" ng-show="ctrl.order_step == 'shopping'">
        <div class="col-lg-12 text-center">
            <div style="right: 0; position: absolute;">
              <button
                ng-click="ctrl.order_step = 'checking_out'"
                class="btn btn-success"><span class=""></span>Checkout</button>
            </div>
            <h2 class="section-heading">Order</h2>
        </div>
    </div>
    <div class="row menu" ng-show="ctrl.order_step == 'shopping'">
      <div ng-class="{ 'highlighted': ctrl.section == 'all' }" ng-click="ctrl.showMenu('all')" class="col-md-1 col-md-offset-3">All</div>
      <div ng-class="{ 'highlighted': ctrl.section == 'breakfast' }" ng-click="ctrl.showMenu('breakfast')" class="col-md-1">Breakfast</div>
      <div ng-class="{ 'highlighted': ctrl.section == 'lunch' }" ng-click="ctrl.showMenu('lunch')" class="col-md-1">Lunch</div>
      <div ng-class="{ 'highlighted': ctrl.section == 'dinner' }" ng-click="ctrl.showMenu('dinner')" class="col-md-1">Dinner</div>
      <div ng-class="{ 'highlighted': ctrl.section == 'snacks' }" ng-click="ctrl.showMenu('snacks')" class="col-md-1">Snacks</div>
      <div ng-class="{ 'highlighted': ctrl.section == 'dessert' }" ng-click="ctrl.showMenu('dessert')" class="col-md-1">Dessert</div>
    </div>

    <div class="row" ng-show="ctrl.order_step == 'shopping'">
        <div
          ng-repeat="recipe in ctrl.recipes | filter: ctrl.isMeal(ctrl.section)"
          class="col-md-4 col-sm-6 portfolio-item">
            <a href="#thai" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-eye fa-3x"></i>
                    </div>
                </div>
                <img ng-src="{{ recipe.image_url }}" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <div class="row" style="height: 3em;">
                  <span class="pull-left"><strong>{{ recipe.name }}</strong></span>
                </div>
                <div class="row">
                  <select
                    ng-hide="ctrl.isInCart(recipe)"
                    ng-init="serving=recipe.serving_options[0]"
                    ng-model="serving"
                    ng-options="option as option.servings + ' servings for $' + option.dollars for option in recipe.serving_options"></select>

                  <span ng-show="ctrl.isInCart(recipe)">{{ ctrl.cartSelection(recipe).serving_option.servings }} servings for ${{ ctrl.cartSelection(recipe).serving_option.dollars }}</span>

                  <button
                    ng-show="!ctrl.isInCart(recipe)"
                    ng-click="ctrl.addToCart(recipe, serving)"
                    class="pull-right cart"><span style="margin-right: .25em;" class="fa fa-shopping-cart"></span>Add to cart</button>
                  <button
                    ng-show="ctrl.isInCart(recipe)"
                    ng-click="ctrl.removeFromCart(recipe)"
                    class="pull-right cart"><span style="margin-right: .25em;" class="fa fa-check"></span>Added</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/services.js"></script>
<script type="text/javascript">
  angular.module('orderApp', ['services'])
  .controller('orderCtrl', function($http, $timeout, recipes) {
    var ctrl = this;

    ctrl.isMeal = function(desired_meal) {
      return function(recipe) {
        return recipe.meal == desired_meal || desired_meal == 'all';
      };
    };

    ctrl.order_step = 'shopping';
    ctrl.section = 'all';
    ctrl.showMenu = function(section) {
      ctrl.section = section;
    };

    ctrl.cart = [];

    ctrl.isInCart = function(recipe) {
      return _.find(ctrl.cart, function(cart_recipe) {
        return cart_recipe.recipe == recipe;
      });
    };

    ctrl.cartSelection = function(recipe) {
      return _.find(ctrl.cart, function(cart_recipe) {
        return cart_recipe.recipe == recipe;
      });
    }

    ctrl.addToCart = function(recipe, serving_option) {
      ctrl.cart.push({ recipe: recipe, serving_option: serving_option });
    };

    ctrl.removeFromCart = function(recipe) {
      ctrl.cart = _.reject(ctrl.cart, function(cart_selection) {
        return cart_selection.recipe == recipe;
      });
    };

    ctrl.total = function(cart_items) {
      return _.reduce(cart_items, function(sum, item) {
        return sum + Number(item.serving_option.dollars);
      }, 0);
    };

    recipes.get().then(function(all_recipes) {
      ctrl.recipes = all_recipes;
    });
  })

  angular.bootstrap(angular.element(document.getElementById('orderApp')), ['orderApp'])
</script>