<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="section-heading">We're on a mission to make delicious,<br />healthy home-cooked meals easy and<br />affordable for everyone.</h3>
            <img id="quinoa" src="img/quinoa.png" />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/delivery_box.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>You're busy, we know</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Everyone wants to eat healthier but meal planning,<br />writing grocery lists, going grocery shopping,<br />who has time for that? It's a lot of work.<br />We can help.<br />Take the stress out of "what's for dinner?"</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <img id="kale" src="img/kale.png" />
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/kale_salad.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Leave bland to the birds</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Too often, healthy food is thought of as lesser: less flavor, less filling, less satisfying, less everything. We'd like to be the first to let you throw that theory out the window. We can assure you, our food is hearty, flavorful, and delicious. This isn't processed "diet food"; this is real food made from whole ingredients.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img id="eggplant" src="img/eggplant.png" />
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/ingredients.png" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Fresh, organic, local ingredients</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Delicious food starts with delicious ingredients. Not only are local ingredients fresher and better-tasting, they're also better for the environment, and keep the money we spend in our community. We're proud to be based in Kansas City, and we want to help our community be better than ever.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>