#how-it-works { padding-top: 5em; }
#how-it-works i { font-size: 9rem; }
#how-it-works i.icon-pan { font-size: 11rem; }
#how-it-works h4 { text-transform: uppercase; font-weight: bold; }
#how-it-works .arrow img { width: 3em; margin-top: 1em; }
#how-it-works .pan img { width: 2em; margin-top: .5em; vertical-align: top; }

#our-mission .timeline-image img { width: 100%; }
#our-mission { padding-top: 5em; padding-bottom: 0; background-image: url(../img/wood.jpg); background-repeat: no-repeat; background-position: center; background-color: #D3B382; }
#our-mission h3 { margin-bottom: 3em; }
#our-mission img#quinoa { float: right; position: absolute; top: 0; right: 0; margin-top: -7em; }
#our-mission img#kale { position: absolute; width: 25em; top: 0; margin-top: -24em; margin-left: -3em; }
#our-mission img#eggplant { margin-right: 4em; position: absolute; right: 0; }
@media (min-width: 1200px) {
  #our-mission .timeline>li .timeline-image {
      width: 130px;
      height: 130px;
      margin-left: -65px;
  }
}

@media (min-width: 768px) {
  #our-mission .timeline>li {
      margin-bottom: 50px;
  }
}

#order .portfolio-item .portfolio-caption .row { margin-left: 0; margin-right: 0; }
#order .portfolio-item .portfolio-caption { padding: 0; text-align: left; }
#order .cart { cursor: pointer; }
#order .cart:hover { color: blue; }