<div>
  <h1>Recipes</h1>
  <table class="table" id="admin-recipes">
    <thead>
      <td></td>
      <td></td>
      <td>Servings</td>
    </thead>
    </thead>
    <tbody>
      <tr ng-repeat="recipe in ctrl.recipes | orderBy: 'name'">
        <td class="thumbnail-cell">
          <img ng-src="{{ recipe['image_url'] }}" />
        </td>
        <td class="name">
          <strong>{{ recipe['name'] }}</strong>
          <br />
          {{ recipe['meal'] }}
        </td>
        <td class="serving-options">
          <ul>
            <li ng-repeat="option in recipe.serving_options">
              {{ option.servings }} / ${{ option.dollars }}
            </li>
          </ul>
        </td>
        <td ng-show="false">{{ recipe['updated_at'] | amDateFormat:'dddd, MMMM Do YYYY'}}</td>
        <td>
          <a ng-click="ctrl.edit(recipe)"><span class="clickable fa fa-pencil"></span></a>
        </td>
        <td>
          <a ng-click="ctrl.confirmRemoval(recipe)"><span class="clickable fa fa-trash"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <script type="text/ng-template" id="confirmRemoval.html">
      <div class="modal-header">
          <h3 class="modal-title">Delete {{ recipe.name }}?</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
  </script>
</div>