<div>
  <h1>Recipes</h1>
  <table class="table">
    <thead>
      <th colspan="2"></th>
      <th colspan="2">Name</th>
      <th>Serving options</th>
      <th>Timestamp</th>
    </thead>
    <tbody>
      <tr ng-repeat="recipe in ctrl.recipes | orderBy: 'name'">
        <td>
          <a ng-click="ctrl.edit(recipe)">edit</a>
        </td>
        <td>
          <a ng-click="ctrl.confirmRemoval(recipe)" href="#">delete</a>
        </td>
        <td>
          {{ recipe['name'] }}
        </td>
        <td>
          <img width=75 height=75 ng-src="{{ recipe['image_url'] }}" />
        </td>
        <td>
          <ul>
            <li ng-repeat="option in recipe.serving_options">
              {{ option.servings }} servings for ${{ option.dollars }}
            </li>
          </ul>
        </td>
        <td>{{ recipe['updated_at'] }}</td>
      </tr>
    </tbody>
  </table>
  <script type="text/ng-template" id="confirmRemoval.html">
      <div class="modal-header">
          <h3 class="modal-title">Delete {{ recipe.name }}?</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
  </script>
</div>